:root {
    --secondary-color: #e7dfc6;
    --primary-color: #2274a5;
    --accent2-color: #816c61;
    --accent1-color: #131b23;
    --heading-font: ".lato-bold", sans-serif;
    --body-font: ".lato-light", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

a {
    text-decoration: none;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header,
main,
footer {
    max-width: 1200px;
    margin: 0 auto;
}

header {
    background-color: var(--secondary-color);
    color: var(--accent2-color);
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.navigation-bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.grid-section-container {
    display: grid;
    grid-template-columns: 1fr 1fr 200px 1fr 1fr;
}

.h2 {
    grid-column: 3;
    text-align: center;
    padding-top: 20px;
}

.history-p {
    grid-column: 1 / 3;
}

.history-p2 {
    grid-column: 4 / 6
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.socialmedia {
    display: flex;
    text-decoration: none;
    justify-content: end;
    text-align: bottom;
}

.hero {
    /* margin: 10px auto; */
    position: relative;
}

.hero h1 {
    position: absolute;
    top: 20px;
    left: 0px;
    width: 100%;
    padding: 16px;
    text-align: center;
    background-color: var(--accent1-color);
    color: #fff;
    /*white text -check contrast pic vs background of banner every change as it can get looking "off" */
}

.hero-article {
    position: absolute;
    top: 35rem;
    left: 2rem;
    right: 2rem;
    float: right;
    background: #fcfdff93;
    text-align: center;
    color: black;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero article img {
    float: right;
    width: 125px;
}

.section-adventure {
    display: grid;
    grid-template: 50px / 200px 200px 200px 200px 200px;
    grid-gap: 50px;
}

.image1 {
    grid-column: 1;
}

.image2 {
    grid-column: 2;
    grid-row: 2;
}

.image3 {
    grid-column: 3;
    grid-row: 2;
}

.image4 {
    grid-column: 4;
    grid-row: 2;
}

.image5 {
    grid-column: 5;
    grid-row: 2;
}

.image-6 {
    grid-column: 3;
    grid-row: 2;
    align-content: center;
}


/*--      --*/