:root {
    --secondary-color: #e7dfc6;
    --primary-color: #2274a5;
    --accent2-color: #816c61;
    --accent1-color: #131b23;
    --heading-font: ".lato-bold", sans-serif;
    --body-font: ".lato-light", sans-serif;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header,
main,
footer {
    width: 1460px;
    margin: 0 auto;
}

header {
    background-color: var(--secondary-color);
    color: var(--accent2-color);
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.navigation-bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.grid-section-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.h2 {
    grid-row: 1;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    margin: 10px auto;
    position: relative;
    opacity: 0.9;
}

.hero h1 {
    position: absolute;
    top: 20px;
    left: 0px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.8;
    background-color: var(--accent1-color);
    color: #fff;
    /*white text -check contrast pic vs background of banner every change as it can get looking "off" */
}

.stats {
    position: absolute;
    bottom: 0px;
    float: right;
    background: var(--accent1-color);
    color: var(--secondary-color);
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}


.hero article img {
    float: right;
    width: 125px;

}




/*--      --*/