:root {
    --secondary-color: #e7dfc6;
    --primary-color: #2274a5;
    --accent2-color: #816c61;
    --accent1-color: #131b23;
    --heading-font: ".lato-bold", sans-serif;
    --body-font: ".lato-light", sans-serif;
}

header {
    background-color: var(--primary-color);
    color: var(--accent2-color);
}


* {
    margin: 20px;
    padding: 0;
    box-sizing: border-box;
}

.centering {
    display: flex;
    align-items: center;
    justify-content: center;


}

/* table info  */
table {
  border-collapse: collapse;
  border: 2px solid rgb(140 140 140);
  font-family: sans-serif;
  font-size: 0.8rem;
  letter-spacing: 1px;
}

caption {
  caption-side: bottom;
  padding: 10px;
  font-weight: bold;
}

thead,
tfoot {
  background-color: rgb(79, 196, 247);
}

th,
td {
  border: 1px solid rgb(160 160 160);
  padding: 8px 10px;
}

td:last-of-type {
  text-align: center;
}

tbody > tr:nth-of-type(even) {
  background-color: rgb(245, 156, 218);
}

tfoot th {
  text-align: right;
}

tfoot td {
  font-weight: bold;
}

/* form element under here table above  */
label {
  display: block;
  margin-top: 1rem;
}

button {
  margin-top: 2rem;
}